
.H_ib_content{
	min-width: 15em;
    margin: 11px 4px 4px 5px;

}
#infoBox {
            top:10px;
            z-index: 15;
            right: 10px;
            position: absolute;
        }
		
.container-fluid { padding: 0;overflow: none;}
		#mapContainer {
			height: 100vh;
			left: 0;
			position: absolute;
			width: 100vw;
			/* top: 5px; */
			background: rgb(88, 88, 88);
			
		}
.col-sm-9{
	max-width: 100%;
}
.form-group {
    margin-bottom: 0.5rem;
}
		.ctrl-panel {
			
			background-color: #ffffff;
			border-right: solid #ffffff 1px;
			border-bottom: solid #ffffff 1px;
			left: 30px;
			width: 374px;
			max-height: calc(100% - 100px);
			display: block;
			font-size: 12px;
			left: 10px;
			padding: 10px;
			position: absolute;
			text-align: justify;
			top: 10px;
			z-index: 10;
			-webkit-transition: left 0.5s, -webkit-transform 2s;
			transition: left 0.5s, transform 2s;
			clear: both;
		}
		#feedbackTxt{

			overflow-y: auto;  
			min-height: 10px;
			max-height: 350px;
			background-color: #ffffff;
			width: 374px;
			display: block;
			font-size: 12px;		
			position: absolute;
			text-align: justify;
			top:237px;
			left:0px;
			z-index: 10;
		}
		#mydiv {  
    display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(loading.gif) center no-repeat #0c0c0c52;
 }

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}

#feedbackTxt .card-body {
	color: black;
}
	